/* code by Joshua H Dawes - The University of Manchester */

body {
  padding: 0px;
  margin: 0px;
  font-family: arial;
  background: #b0c4de;
}

.header {
  height: 150px;
  position: fixed;
  top: 50px;
  left: 50px;
  width: 20%;
  min-width: 300px;
}

.main {

}

.title {
  font-size: 24px;
}

.title.main {
  margin-bottom: 20px;
  color: #50007F!important;
  text-align: center;
}

.title.main .image img {
  width: 250px;
}

.title.main .name {
}

.cv {
  font-size: 16px;
}
  
.content {
  float: right;
  padding: 20px;
  padding-top: 0px;
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  overflow: hidden;
}

  .content .title {
    font-size: 24px;
    color: #50007F;
    font-family: arial;
  }
  
  .content .text {
    font-size: 14px;
    line-height: 140%;
	  padding: 10px;
  }

  .content .text.highlight {
    font-size: 18px;
  }
    
    .content .text a {
      color: #000;
      color: blue;
      padding-bottom: 2px;
      text-decoration: none;
      border-bottom: 1px solid blue;
    }
    
    .content .text ul li {
      margin: 5px;
    }
    
    .content img {
      width: 200px;
      float: right;
    }

table tr td {
  border-bottom: #333 1px solid;
  padding: 10px;
  vertical-align: top;
}

/*table tr td a {
  font-size: 18px;
  line-height: 140%;
  display: block;
  min-width: 150px;
  background: #CCC;
  color: #333!important;
  border: none!important;
}

table tr td a:hover {
  border: none!important;
  background: #999;
}*/

ul.publications-list, ul.outreach-list {
  list-style: none;
  margin-left: -30px;
}

table tr {
  text-align: left;
  border: none;
}

table tr th {
  padding: 10px;
}

table tr td {
  border: none;
}

table tr td.time-divider {
  text-align: center;
  border-bottom: 1px dashed grey;
  border-top: 1px dashed grey;
}